#main-box {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid rgb(231, 38, 157);
    padding: 10px;
    background-color: rgb(240, 240, 240);
}

.status {
    position: absolute;
    top: 85%;
}

#particles-js {
    height: 100vh;
}

body {
    background: -webkit-linear-gradient(to left, #0b8793, #360033);
    background: linear-gradient(to left, #0b8793, #360033);
    height: 100vh;
}

#cpf {
    position: relative;
    text-align: center;
    font-size: 180%;
    width: 50%;
    margin: 0 auto;
}

h2 {
    text-align: center;
}